<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{base}">
<div layout:fragment="page_content" id="search_content">
    This is just a simple landing page.<br>
    <div th:text="${success}"></div>

    <a th:href="@{/user/register}">
        <span th:if="${not #authorization.expression('isAuthenticated()')}">Not Registered? Sign Up Now</span>
        <span sec:authorize-expr="hasAuthority('ADMIN')">Add Users</span>
    </a></br>

    <div th:if="${not #authorization.expression('isAuthenticated()')}">
        Existing user? <a th:href="@{/login}">Log in now</a>
    </div>
</div>
</HTML>